@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center  tracking-tight
    }
    .btn-primary {
        @apply bg-black text-white 
    }

    .btn-text {
        @apply bg-transparent text-black
    }
    .tag{
        @apply text-sm border border-[#222]/10 inline-flex px-3 py-1 rounded-lg tracking-tight
    }

    .heading{
        @apply text-3xl lg:text-7xl  font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text mt-6
    }

    .sub-heading{
        @apply text-xl text-[#010D3E] tracking-tight mt-6
    }
    .card{
        @apply p-10 rounded-3xl border border-[#F1F1F1] shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full
    }

    .logo-ticker-image{
        @apply w-full h-full max-w-[500px] max-h-[500px] object-contain rounded-3xl;
    }
}

.bg-light {
  background-color:hsla(0,0%,100%,1);
background-image:
radial-gradient(at 45% 45%, hsla(180,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 98% 57%, hsla(187,68%,75%,1) 0px, transparent 50%),
radial-gradient(at 37% 100%, hsla(37,81%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 67%, hsla(183,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 100% 100%, hsla(289,93%,80%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(6,92%,70%,1) 0px, transparent 50%),
radial-gradient(at 65% 82%, hsla(278,14%,86%,1) 0px, transparent 50%),
radial-gradient(at 100% 45%, hsla(204,100%,85%,1) 0px, transparent 50%);
}

.dark .bg-light-blobs {
  background-color: #0e0b1d;
  background-image:
    radial-gradient(at 40% 30%, #3f0071 0px, transparent 50%),
    radial-gradient(at 80% 70%, #7100c9 0px, transparent 50%),
    radial-gradient(at 10% 90%, #2e9aff 0px, transparent 50%),
    radial-gradient(at 90% 10%, #ff007b 0px, transparent 50%);
}


